<div class="hero" >
    <div class="carousel-inner">
      <div class="hero-item">
          <div class="overlay-image"></div>
        <img src="../../../assets/images/IMG4.jpg" class="d-block w-100">
        <div class="carousel-caption d-md-block">
            <h2>Mari tersenyum bersama</h2>
        </div>
      </div>
    </div>  
</div>

<h1 class="text-center mt-5">Apa saja bidang yang ada?</h1>
    <div class="container section-1">
        <div class="row">
            <div class="col-md-3">
                <div class="card border-light h-100" style="width: 18rem;">
                    <img src="../../../assets/icons/Sosial.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sosial</h5>
                      <p class="card-text">&#x2022; Menyelenggarakan Play Group dan TK</p>
                      <p class="card-text">&#x2022; Menyelenggarakan Lembaga Pendidikan non formal (kursus-kursus, program pelatihan keterampilan)</p>
                    </div>
                    <div class="card-footer">
                        <a routerLink="/detail-s" class="btn">Selengkapnya</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card border-light h-100" style="width: 18rem;">
                    <img src="../../../assets/icons/Keagamaan.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center">Keagamaan</h5>
                      <p class="card-text">&#x2022; Mendirikan sarana ibadah</p>
                      <p class="card-text">&#x2022; Menyelenggarakan pondok pesantren, madrasah, dan tempat pengajian</p>
                    </div>
                    <div class="card-footer">
                        <a routerLink="/detail-ka" class="btn">Selengkapnya</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card border-light h-100" style="width: 18rem;">
                    <img src="../../../assets/icons/Sosial.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center">Kemanusiaan</h5>
                      <p class="card-text">&#x2022; Memberi bantuan kepada korban bencana alam</p>
                      <p class="card-text">&#x2022; Mendirikan dan menyelenggarakan rumah singgah</p>
                    </div>
                    <div class="card-footer">
                        <a routerLink="/detail-km" class="btn">Selengkapnya</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card border-light h-100" style="width: 18rem;">
                    <img src="../../../assets/icons/Sosial.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center">Umum</h5>
                      <p class="card-text">Meliputi divisi teknologi informasi dan manajemen aset</p>
                    </div>
                    <div class="card-footer">
                        <a routerLink="/detail-u" class="btn">Selengkapnya</a>
                    </div>
                  </div>
            </div>
        </div> 
</div>   


    <div class="container section-2" style="max-width: 540px;">
      <hr>
        <div class="row g-0">
        <div class="col-md-4">
            <img src="../../../assets/icons/Sosial.svg" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Info bergabung</h2>
              <p class="card-text">Pilih bidang yang anda inginkan dengan menghubungi kami di +62 8XX XXXX XXXX untuk bergabung dengan kami</p>
              <!-- <a class="btn btn-outline-dark btn-lg btn-block" href="">BERGABUNG</a>  -->
            </div>
        </div>
        </div>
        <hr>
    </div>



<div class="section-3 text-center">
    <h3>Proud Partner</h3>
    <div class="partner">
        <img class="img-partner" src="../../../assets/images/Us46nEawfOPfsL72ncsVhE3qJ1UHMd2K91oZBQ1qtzlqYkwP0PqPA+Cjlqfcg1vcYBooMgVOpT8C95Z20AF5s7UVErWc3pP2+D9sZ80OG3fgAhogCRcV+frabjARG9wemOINZNTgP7dGe2W+VkbA0dQwL+GJdaaTePp2Yg=.jpg" alt="">
    </div>
</div>

<div class="section-4">
    <div class="text-center">
        <div class="card-header">
          <h3>Info donasi</h3>
        </div>
        <div class="card-body">
            <h2 class="card-title">Berbuat baik itu menyenangkan</h2>
          <p class="card-text">Klik tombol di bawah untuk mengetahui tentang donasi</p>
          <a routerLink="/donation" class="btn">DONASI SEKARANG</a>
        </div>
      </div>
</div>









 

 