<nav class="navbar navbar-expand-lg fixed-top" [class.nav_scroll]="nav_scroll">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <img src="../../../assets/images/ABT_LOGO.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../../../assets/icons/Navbar.svg" alt="">
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mx-auto">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/detail-s">Bidang</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/donation">Donasi</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tentang kami
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/visionmission">Visi & Misi</a></li>
              <li><a class="dropdown-item" routerLink="/profile">Profil</a></li>
            </ul>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </nav>