<ABT-navbar></ABT-navbar>
  <div class="container">
    <div class="card mb-3">
      <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/icons/Sosial.svg" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">Donasi</h1>
              <p class="card-text">Pertanyaan mengenai donasi dapat menghubungi nomor +62 8xx xxxx xxxx atau anda dapat langsung melakukan donasi ke nomor rekening berikut:</p>
          <h3 class="text-center">
            BJB 
          </h3>
          <h4 class="text-center">
            <strong>
              0080206013381

            </strong>
          </h4>
          <h4 class="text-center">
            Atas nama - Yayasan Anak Bangsa Tersenyum
          </h4>
          <hr>
          <h3 class="text-center">
            MANDIRI SYARIAH 
          </h3>
          <h4 class="text-center">
            <strong>
              1800000811

            </strong>
          </h4>
          <h4 class="text-center">
            Atas nama - Yayasan Anak Bangsa Tersenyum
          </h4>
            </div>
          </div>
      </div>
    </div>
  </div>
<ABT-footer></ABT-footer>
