<ABT-navbar></ABT-navbar>
<ABT-tabs></ABT-tabs>
<section>
    <div class="container">
        <h1 class="text-center">BIDANG SOSIAL</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
              <p class="card-text">&#x2022; Menyelenggarakan Play Group dan TK</p>
              <p class="card-text">&#x2022; Menyelenggarakan Lembaga Pendidikan non formal (kursus-kursus, program pelatihan keterampilan</p>
              <p class="card-text">&#x2022; Menyelenggarakan Sekolah Luar Biasa dan Lemah Mental</p>
            </div>
          </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
              <p class="card-text">&#x2022; Menyelenggarakan Panti Asuhan, Panti Jompo, dan Panti Wreda</p>
              <p class="card-text">&#x2022; Menyelenggarakan Rumah Sakit, Poliklinik dan Laboratorium</p>
              <p class="card-text">&#x2022; Menyelenggarakan apresiasi di bidang seni dan budaya</p>
              <p class="card-text">&#x2022; Menyelenggarakan pembinaan untuk kemajuan di bidang olahraga</p>
            </div>
          </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
              <p class="card-text">&#x2022; Menyelenggarakan pusat Latihan</p>
              <p class="card-text">&#x2022; Melakukan penelitian dan observasi untuk kemajuan ilmu pengetahuan</p>
              <p class="card-text">&#x2022; Studi banding peningkatan kegiatan dalam bidang pengetahuan dan kebudayaan</p>
            </div>
          </div>
    </div>
</div>      
    </div>

    <div class="container">
        <h1 class="text-center mt-5">Program/kegiatan yang sudah dan akan dilaksanakan bidang sosial</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">&#x2022; Kelompok Bermain dan Taman Kanak-kanak Anak Indonesia Ceria (menggunakan rumah di Komp. Taman Rafflesia A25, RT 01 RW 14 Bandung, Kel. Sukapura, Kecamatan Kiaracondong Bandung 40285)</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">&#x2022; Panti asuhan (sudah ada tanah dan bangunan di Jatinangor)</p>
                        <p class="card-text">&#x2022; Sekolah Anak Berkebutuhan Khusus</p>
                        <p class="card-text">&#x2022; Layanan penelitian dan pengolahan data</p>
                        <p class="card-text">&#x2022; Lembaga pelatihan keterampilan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ABT-footer></ABT-footer>