

<div class="container">
    <a routerLink="/detail-s" routerLinkActive="active" class="btn btn-primary"><img class="mb-1" src="../../../assets/icons/Sosial.svg" alt=""> Sosial</a> 
    <a routerLink="/detail-ka" routerLinkActive="active" class="btn btn-primary"><img class="mb-1" src="../../../assets/icons/Keagamaan.svg" alt=""> Keagamaan</a>
    <a routerLink="/detail-km" routerLinkActive="active" class="btn btn-primary"><img class="mb-1" src="../../../assets/icons/Sosial.svg" alt=""> Kemanusiaan</a>
    <a routerLink="/detail-u" routerLinkActive="active" class="btn btn-primary"> <img class="mb-1" src="../../../assets/icons/Sosial.svg" alt=""> Umum</a>
</div>
