.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

a {
    margin: 20px;
}

.active {
    background: rgb(0, 170, 255);
}

img {
    height: 20px;
    width: auto;
}
