<ABT-navbar></ABT-navbar>

<div class="container">
        <div class="card">
            <img src="../../../assets/images/wallpaperflare.com_wallpaper.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h1 class="card-title text-center">Profil Yayasan Anak Bangsa Tersenyum</h1>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, minima perferendis. Ipsam tempora fuga vel nemo voluptatibus quis quae obcaecati! Ea laudantium nesciunt iste explicabo tenetur mollitia quis, nam impedit.</p>
            <div class="row">
              <div class="col-md-6">
                <div class="card h-100">
                  <div class="card-body">
                    <p>&#x2022; AKTA PENDIRIAN YAYASAN ANAK BANGSA TERSENYUM TANGGAL 18 APRIL 2012 NOMOR 7</p>
                    <p>&#x2022; NOTARIS DRS. YUDI PRIADI, SH</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card h-100">
                  <div class="card-body">
                    <p>&#x2022; KEPUTUSAN MENTERI HUKUM DAN HAK ASASI MANUSIA REPUBLIK INDONESIA NOMOR: AHU-4470.AH.01.04 TAHUN 2012 TENTANG PENGESAHAN YAYASAN</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-4">
              <div class="card-body">
                <h3 class="text-center">Kekayaan awal Yayasan Anak Bangsa Tersenyum:</h3>
                <h4 class="text-center">Rp. 20.000.000,-(dua puluh juta rupiah)</h4>
                <hr>
                <h4>Kekayaan Yayasan dapat juga diperoleh dari:</h4>
                <p class="card-text">&#x2022; Sumbangan atau bantuan yang bersifat tidak mengikat, termasuk sumbangan dari badan atau perorangan di Indonesia atau dari luar negeri yang berminat mendukung maksud dan tujuan Yayasan</p>
                <p class="card-text">&#x2022; Wakaf</p>
                <p class="card-text">&#x2022; Hibah</p>
                <p class="card-text">&#x2022; Hibah wasiat</p>
                <p class="card-text">&#x2022; Perolehan lain yang tidak bertentangan dengan Anggaran Dasar Yayasan atau peraturan perundang-undangan yang berlaku</p>
              </div>
            </div>
      
              <a routerLink="/home" class="btn btn-primary mt-3">Klik untuk kembali ke halaman utama</a>
            </div>
          </div>
</div>

<ABT-footer></ABT-footer>