<ABT-navbar></ABT-navbar>

<div class="container">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../../assets/icons/Sosial.svg" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h1 class="card-title">Visi</h1>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem magni corrupti quia officiis quaerat perspiciatis. Doloremque consequatur nulla rerum distinctio sed nobis nostrum quisquam. Natus magnam est id cum distinctio!</p>
                    
                      <h1 class="card-title">Misi</h1>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, possimus.</p>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, rem?</p>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, inventore.</p>
                    </div>
                  </div>
                </div>
              </div>
</div>

<ABT-footer></ABT-footer>