<ABT-navbar></ABT-navbar>
<ABT-tabs></ABT-tabs>
<section>
    <div class="container">
        <h1 class="text-center">BIDANG KEAGAMAAN</h1>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <p class="card-text">&#x2022; Mendirikan sarana ibadah</p>
              <p class="card-text">&#x2022; Menyelenggarakan pondok pesantren, madrasah, dan tempat pengajian</p>
              <p class="card-text">&#x2022; Menyelenggarakan penelitian, seminar, ceramah-ceramah dan karya-karya keagamaan</p>
            </div>
          </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <p class="card-text">&#x2022; Menerima dan menyalurkan infak dan sedekah</p>
              <p class="card-text">&#x2022; Studi banding peningkatan kegiatan dalam keagamaan</p>
              <p class="card-text">&#x2022; Melaksanakan syiar keagamaan</p>
              <p class="card-text">&#x2022; Meningkatkan pemahaman keagamaan</p>
            </div>
          </div>
    </div>
</div>      
    </div>

    <div class="container">
        <h1 class="text-center mt-5">Program/kegiatan yang sudah dan akan dilaksanakan bidang keagamaan</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">&#x2022; Rumah tahfidz quran (Jatinangor)</p>
                        <p class="card-text">&#x2022; Penggalangan dana infaq dan shodaqoh</p>
                        <p class="card-text">&#x2022; Lembaga/unit zakat infaq shodaqoh dan wakaf</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ABT-footer></ABT-footer>