<ABT-navbar></ABT-navbar>
<ABT-tabs></ABT-tabs>
<section>
    <div class="container">
        <h1 class="text-center">BIDANG KEMANUSIAAN</h1>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <p class="card-text">&#x2022; Memberi bantuan kepada korban bencana alam</p>
              <p class="card-text">&#x2022; Memberikan bantuan kepada pengungsi akibat perang</p>
              <p class="card-text">&#x2022; Memberikan perlindungan dan bantuan kepada tuna wisma, fakir miskin, dan gelandangan</p>
              <p class="card-text">&#x2022; Mendirikan dan menyelenggarakan rumah singgah</p>
            </div>
          </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <p class="card-text">&#x2022; Mendirikan dan menyelenggarakan rumah pelayanan jenazah</p>
              <p class="card-text">&#x2022; Memberikan perlindungan hak asasi manusia</p>
              <p class="card-text">&#x2022; Memberikan perlindungan konsumen</p>
              <p class="card-text">&#x2022; Menyelenggarakan pelestarian lingkungan hidup</p>
            </div>
          </div>
    </div>
</div>      
    </div>

    <div class="container">
        <h1 class="text-center mt-5">Program/kegiatan yang sudah dan akan dilaksanakan bidang kemanusiaan</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">&#x2022; Tim Relawan Kemanusiaan untuk bencana</p>
                        <p class="card-text">&#x2022; Peduli Yatim dan Dhuafa</p>
                        <p class="card-text">&#x2022; Khitanan Massal</p>
                        <p class="card-text">&#x2022; Peduli lansia</p>
                        <p class="card-text">&#x2022; Griya Terapi Sehat Alami (GTSA)... sementara ditutup</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">&#x2022; Peduli gelandangan dan pengamen jalanan</p>
                        <p class="card-text">&#x2022; Rumah singgah</p>
                        <p class="card-text">&#x2022; Layanan pengurus jenazah</p>
                        <p class="card-text">&#x2022; Tim pelestarian lingkungan</p>
                        <p class="card-text">&#x2022; Anak asuh</p>
                        <p class="card-text">&#x2022; Rumah penyehatan tradisional</p>
                        <p class="card-text">&#x2022; Pemeriksaan Kesehatan Slum area perkotaan dan di pedesaan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ABT-footer></ABT-footer>