<ABT-navbar></ABT-navbar>
<ABT-tabs></ABT-tabs>
<section>
    <div class="container">
        <h1 class="text-center">BIDANG UMUM</h1>
        <h2>Teknologi Informasi</h2>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <p class="card-text">&#x2022; Mengambil bagian dalam pengembangan dan integrasi perangkat lunak</p>
              <p class="card-text">&#x2022; Mengembangkan secara aktif kemampuan dalam pengembangan perangkat lunak</p>
              <p class="card-text">&#x2022; Menerima permintaan user untuk masalah-masalah yang harus diselesaikan</p>
              <p class="card-text">&#x2022; Menyediakan dukungan dan penyelesaian masalah konsumen baik untuk konsumen internal maupun eksternal</p>
            </div>
          </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <p class="card-text">&#x2022; Bertanggung jawab atas kepuasan terkini pelanggan</p>
              <p class="card-text">&#x2022; Melakukan tugas-tugas yang berkaitan dan tanggung jawab yang diminta, seperti dalam sertifikat dan menuruti rencana dasar perusahaan untuk membangun kecakapan dalam portfolio produk</p>
              <p class="card-text">&#x2022; Mengerjakan macam-macam tugas terkait seperti yang diberikan</p>
              <p class="card-text">&#x2022; Membentuk kekompakan maksimum dalam perusahaan bersama dengan rekan-rekan dalam perusahaan</p>
            </div>
          </div>
    </div>
</div> 

<h2>Personalia dan Umum</h2>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <p class="card-text">&#x2022; Penerimaan tenaga kerja koordinasi dengan labour supply</p>
              <p class="card-text">&#x2022; Menyusun anggaran tenaga kerja yang diperlukan</p>
              <p class="card-text">&#x2022; Membuat job analysis, job description, dan job specification</p>
              <p class="card-text">&#x2022; Menentukan dan memberikan sumber-sumber tenaga kerja</p>
              <p class="card-text">&#x2022; Mengurus dan mengembangkan karyawan</p>
              <p class="card-text">&#x2022; Mengurus Aset</p>
            </div>
          </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <p class="card-text">&#x2022; Sosialisasi dan koordinasi</p>
              <p class="card-text">&#x2022; Menyiapkan perjanjian kerja dengan karyawan baru</p>
              <p class="card-text">&#x2022; Menyusun absensi daftar hadir</p>
              <p class="card-text">&#x2022; Mengurus soal-soal pemberhentian (pensiun, PHK, resign)</p>
              <p class="card-text">&#x2022; Memperbaharui/update dan record data dengan software HRD</p>
            </div>
          </div>
    </div>
</div>

<h2>Manajemen Aset</h2>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <p class="card-text">&#x2022; Mengidentifikasi kompetensi/keterampilan/pengetahuan yang ingin dicapai</p>
              <p class="card-text">&#x2022; Menyusun model kompetensi dalam bentuk kegiatan yang akan digunakan</p>
              <p class="card-text">&#x2022; Menentukan jenis penilaian yang akan digunakan</p>
              <p class="card-text">&#x2022; Menetapkan standar kompetensi</p>
            </div>
          </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <p class="card-text">&#x2022; Membuat profil kompetensi suatu posisi/pekerjaan</p>
              <p class="card-text">&#x2022; Menentukan sasaran dan materi program pelatihan/pengembangan</p>
              <p class="card-text">&#x2022; Menentukan metode pelatihan/pengembangan dan prinsip-prinsip belajar yang digunakan</p>
              <p class="card-text">&#x2022; Mengevaluasi program/kegiatan</p>
            </div>
          </div>
    </div>
</div>

    </div>

  
   

    <div class="container">
        <h1 class="text-center mt-5">Program/kegiatan yang sudah dan akan dilaksanakan bidang umum</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">&#x2022; Pengelolaan website Yayasan Anak Bangsa Tersenyum</p>
                        <p class="card-text">&#x2022; Pengelolaan sosial media Yayasan Anak Bangsa Tersenyum</p>
                        <p class="card-text">&#x2022; Editing</p>
                        <p class="card-text">&#x2022; Capasity Building</p>
                        <p class="card-text">&#x2022; Serah terima hibah rumah dan mobil</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">&#x2022; Penyimpanan dokumentasi dengan rapih dan baik</p>
                        <p class="card-text">&#x2022; Pencatatan absen</p>
                        <p class="card-text">&#x2022; Logistik</p>
                        <p class="card-text">&#x2022; Penyediaan perlengkapan pengurus (rompi, tumbler)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ABT-footer></ABT-footer>